body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #48ff61;
    color: #fff;
    text-align: center;
    background-image: url('./src/lala.svg');
    background-attachment:fixed;

}

.menu-toggle {
    display: none;
    cursor: pointer;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
section h1{
    font-size: 3vw;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    border-radius: 20px;
    padding: 2px 2px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    height: fit-content;
}
nav ul li:hover {
    background-color: #ff5a00;
    color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
.logo{
    font-weight: bold;
    color: #ffffff;
    display:block;
}
.whatsapp-button {
    display: inline-block;
    background-color: transparent;
    border: 1.5px solid #ffffff;
    border-radius: 20px;
    padding: 2px 2px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
    height: fit-content;
}
.Bouton-whatsapp svg {
    width: 20px;
    height: auto;
    display: inline-block;
}
.Bouton-whatsapp{
    position: relative;
    top: 0px;
}
.Bouton-map {
   
    margin: 10px;
    
}

  
.whatsapp-button:hover {
    background-color: #25d366;
    color: #ffffff;
}
.hero{
    display: flex;
    justify-content:space-around;
}

.image13{
    width: 80%;
    height: auto;
  display: block;
} 

#search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 2px 2px;
}

#search-input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
}
.top-menu{
    position: relative;
    right: 0px;
    width: 100%;
    background-color: #48ff61;
    top: 20px;
}

#search-button {
    background-color: #ff5a00;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 16px;
    width: 70px;
}
#search-button svg{
    width: 20px;
    height: auto;
}

section {
    text-align: center;
}
.cards-section {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 20px;
}
.titre{
    display: grid;
    justify-content: space-around;
    align-items:start;
    flex-wrap: wrap;
    padding: 20px;
}
.recherch{
    display: block;
    padding-top: 80px;
}

.card {
    flex: 0 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    margin: 10px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    background-color: #eaeaea;
}

.card:hover {
    transform: scale(1.05);
    background-color: #ff5a00;
    color: #fff;
}
.button {
    background-color:#ff5a00;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 40px;
  }
  .card:hover .button {
    transform: scale(1.05);
    background-color: #ffffff;
    color: #000000;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3, .card p {
    padding: 15px;
    margin: 0;
}
.icon {
   
  display: flex;
  padding: 20px;
  align-items: center;
   
}
.icon svg{
    width: 36px;
    background-color: #fff;
    border-radius: 30px;
    margin: 0px 2px;
}
  
.user{
    background-color: #ffffff;
	margin:0 auto;
	width: 90px;
	height: 90px;
	border-radius: 90px;
	bottom: 50px;
	overflow: hidden;
    display: flex;
	z-index: 5;
    margin-top: 10px;
    align-items: center;
}
.phon{
    width: 30px;
    margin-right: 5px;
}
.user p {
	font-size: 1.3em;
	color: #000000;
	margin-top: -20px;
}
.slider{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.slider-container {
    overflow: hidden;
    width: 90%;
    max-width: 1300px;
    margin: 20px 0;
    display: flex;
  }
  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .card1 {
    width: 300px;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #eaeaea;
  }
  .card1 img {
    width: 100%;
    height: 75%;
    object-fit: cover;
  }
  .nare svg{
    padding: 10px;
  }
  .card-body {
    padding: 5px;
  }
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .card-text {
    color: #555;
  }
  .our-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
  }
      /* Add styles for navigation buttons */
      .slider-navigation {
        display: flex;
        gap: 10px;
      }
      .slider-navigation button {
        cursor: pointer;
        padding: 5px 5px;
        background-color:#ff5a00;
        color: #fff;
        border: none;
        border-radius: 50px;
      }
      .slide-left {
        left: 20px;
      }
      .slide-right {
        right: 20px;
      }
.carousel-cell {
    padding: 2rem 0 1rem 0;
  }
  
  .flickity-viewport {
    overflow: visible;
  }
  
  .products-feature {
    transition: 0.3s ease all;
    margin-left: 2rem;
    overflow: hidden;
  }
  .levelup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:0px 10%;
  }
  .levelup img{
    max-width: 500px;
    width: 50%;
    height: auto;
  }
  .leveup-text{
    width: 40%;
    max-width: 300px;
    font-size: 2vw;
  }
  .contactus-btn{
    background-color: #ff5a00;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 4px 4px;
    border-radius: 40px;
    border: none;
  }
  .text-div{
    display: block;
    padding: 0% 10%;
   text-align: left;
    
  }
  .text-div p{
   font-size: 1.5vw;
   text-align: left;
  }
 #house{
    width: 100%;
    background-color: #48ff61;
 }
 .levelup-btn{
    display: inline;
 }
 div.contact, textarea, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .contact {
      color:#fff;
      font-family: 'Open Sans', sans-serif;
      font-weight:600;
      line-height:20px;
      }
  .contact h2 {font-size:50px;}
  .headline {
      font-size:50px;
  }
    .center-btn {
      text-align: center;
    }
  .container {
    max-width: 510px;
    min-width: 300px;
    margin: 10px 0px;
    padding-bottom:46px;
    background-color: #fff;
    border-radius:5px;
    box-shadow: -10px 10px 12px 4px rgba(0, 0, 0, 0.1);

  }
  
  .row {
    width: 100%;
    margin: 0 0 1em 0;
    padding: 0 2.5em;
  }
  .info{
    max-width: 310px;
    min-width: 200px;
    height: 350px;
    background-color: #ff5a00;
    margin-left: -10px;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .contactline{    
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 20px;
    text-align: left;
  }
  .roundicon{
    border-radius: 20px;
    background-color: #ff7c35;
    width: 35px;
    height: 35px;
    padding: 4px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }
  .roundicon svg{
    width: 30px;
    height: 30px;
  }
  .row.header {
    padding: 1.5em 2.5em;
    border-bottom: 1px solid #ccc;
    background-color:#63a7d6;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align:center;
  }
  .row.body {
    padding: .5em 2.5em 1em;
  }
  
  div.contact-elements p.pull-right {
    float: right;
  }
  div.contact-elements p.left {float:left;
    margin-right: 15px;}
  
  .btn {
    font-size: 1.0625em;
    display: inline-block;
    padding: 0.74em 1.5em;
    color: #fff;
    border-width: 0 0 0 0;
    border-radius:15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-shadow: 1px 1px 4px #ccc;
      -moz-box-shadow: 1px 1px 4px #ccc;
      -webkit-box-shadow: 1px 1px 4px #ccc;
      text-align: center;
  }
  .btn:hover {
    background-color: #bfbfbf;
  }
  .btn.btn-submit {
    background-color: #ff5a00;
    border-bottom-color: #374d78;
    display: flex;
  }
  .btn.btn-submit:hover {
    background-color: #5f7db6;
  }
  
  .contact-elements {
    max-width: 100%;
    display: block;
  }
  
  .contact-elements ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .contact-elements ul li {
    margin: 0 0 0.25em 0;
    clear: both;
    width: 100%;
  }
  .contact-elements ul li:last-child {
    margin: 0;
  }
  .contact-elements ul li p {
    margin: 0;
    padding: 0;
    float: left;
  }
  .contact-elements ul li p.right {
    float: right;
  }
  .contact-elements ul li .divider {
      border: 0;
      margin-top: 60px;
    margin-bottom: 15px;
      border-bottom: 1px dashed #ccc;
      background: #eaeaea;
      opacity:.5;
  }
  .contact-elements ul li, .req {
      font-size:15px;
      color:#63a7d6;
      font-variant:small-caps;
      text-transform:lowercase;
      font-weight:bolder;
  }
  .contact-elements label {
    display: block;
    margin: 0 0 0.5em 0;
    color: #4f6fad;
    font-size: 1em;
  }
  .contact-elements input {
    margin: 0 0 0.5em 0;
    border: 2px solid #ccc;
    padding: 6px 10px;
    color: #000000;
    font-size: 1em;
    border-radius: 10px;
    
  }
  .contact-elements textarea {
    border: 2px solid #ccc;
    padding: 6px 10px;
    width: 100%;
    color: #000000;
    resize:none;
    overflow:auto;
    margin-top: 20px;
    border-radius: 10px;
  }
  .ninde{
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .contact-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    align-items: center;

  }
  
  .contact-elements small {
    color: #4f6fad;
    margin: 0 0 0 0.5em;
  }
  .centero{
    width: 100%;
  }
  
  @media only screen and (max-width: 900px) {
    .div.contact-elements p.pull-right {
      float: none;
    }
    .center-btn {
      text-align: left;
    }
    input {
      width: 100%;
    }
  
    label {
      width: 100%;
      display: inline-block;
      float: left;
      clear: both;
    }
  
    li, p {
      width: 100%;
    }
  
    input.btn {
      margin: 0 0 0.5em;
    }
  
    li small {
      display: none;
    }
    .contact-container{ 
      flex-direction:column;
    
    }
  }
.ourserv{
 width: 100%;
 height:auto;
 display:inline-flex;
 background-color:#48ff61 ;
 align-items: center;
 align-content: center;
 padding: 20px;

}
.ouservimage{
  height: 100%;
  width: 30%;
  background-image: url('./src/Untitled-1.png');
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  border-radius: 5px;
  color: #fff;
  padding: 20px;
}

.tablegrid{
  width: 60%;
}
.image-grid {
display: inline-flex; 
margin: 0px 10px 10px 0px;
}

.image-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
background-color: #fff;
  max-width:  130px;
  margin-right: 10px;
 
}

.image-item svg {
  width: 100%;
  height: auto;
  display: block;
}
.nahe{
  padding: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  
}
.nahreft{
  width: 40%;
  padding: 0%;
}
.nahright{
  width: 40%; 
  padding: 0%;
}
.mission{
  width: 100%;
  display:contents;
  text-align: left;
  padding: 10px;
}
.goal{
  background-color: #ff5a00;
  width: 40px;
  float: left;
  border-radius: 10px;
  margin-right: 10px;
}
.noble{
  display: inline-flex;
  justify-content: center;
}
.nobleicon{
  background-color: #ff5a00;
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;
  height: 50px;
}
.nobleicon svg{
  width: 40px;
}
.headercontact{
  padding: 40px 0px 0px 0px;
}
#herocontac{
  background-color: #000000;
  width: 100%;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('./src/backgroun.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
margin-top: 10px;
}
.contattitre{
  color:#ff5a00; 
}
.othercontact{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
.othercontact h2{
  text-align: center;
}
.infother{
  flex: 0 1 210px;
  max-width: 210px;
  min-width: 180px;
  height: 350px;
  background-color: rgba(255, 90, 0, 0.5);
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  
}
.greenback{
  background-color: rgba(72, 255, 97, 0.5);
}
.nar-text{
  width: 80%;
  padding:0% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.serviceline{
  display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}
.servicecontent{
  flex: 0 1 310px;
  display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:flex-start;
    text-align: left;
}
.servicelogo{
  width: 64px;
  min-width: 60px;
  height: auto;
}
.servicetexte{
  text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: static;
    z-index: 1000;
}
.logof{
  display: flex;
  padding: 20px 0px 0px 20px;
  align-items: center;
}
.footer-content{
  display: flex;
  align-content: center;
}
.menuf{
  display: flex;
  align-items:flex-end;
  color: #fff;
  padding: 0% 15% 0% 15%;
}
.menuf a{
  color:#fff;
}
.gost{
  display: flex;
    align-items: center;
  height: 10px;
  width: 10px;
}
.line{
  height: 2px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0% 10% 0% 10%;

}

@media only screen and (max-width: 600px) {
    .menu-toggle {
        display: flex;
        margin: 10px;
        font-size: 18px;
        justify-content: left;
    }
    .hide{
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-content: flex-start;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

    .cards-section {
        flex-direction: column;
        align-items: center;
    }
    .nahe{
      display: contents;
      padding: 10%;
      
    }
    .nahreft{
      width: 80%;
      padding: 10%;
    }
    .nahright{
      width: 80%; 
      padding: 10%;
    }

    .card {
        flex: 1 1 auto;
        width: 80%;
    }
    .image13{
        width: 0px;
      margin-left: 0px;
      display: none;
    } 
    .logo{
        display: none;
    }
    .top-men{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: space-between;
        display: flex;
        align-items: center;
        position: fixed;
        right: 0px;
        width: 100%;
        background-color: #48ff61;
        top: 0;
        z-index: 1000;
    }
    .top-menu{
        position: fixed;
        right: 0px;
        width: 100%;
        background-color: #48ff61;
        top: 0;
        z-index: 1000;
    }
    .Bouton-whatsapp{
        position: relative;
        top: -40px;
    }
    .recherch{
        padding-top: 20px;
    }
    .text-div p{
        font-size: 3vw;
       }
       section h1{
        font-size: 5vw;
    }
}